body {
  background: #f0f2f5 !important;
}

.mainScreen {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* overflow: auto; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ****************admin panel********************* */
@media (max-width: 575.98px) {
  .hiddenForSmallScreen {
    display: none;
  }

  .ShowForSmallScreen {
    display: none;
  }
}

/* ****************dashboard card********************* */
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.cardHover:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.setCardWidth {
  min-width: 18rem !important;
}


/* ******************************************** */
.fullScreenHome {
  min-height: 100vh !important;
}

.quarterFullScreenHome {
  min-height: 75vh !important;
}

.halfScreenHome {
  min-height: 50vh !important;
}

.halfBlur {
  min-height: 100vh !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.pointer {
  cursor: pointer;
}

.coverImg {
  max-width: 100%;
  max-height: 100%;
}

/* *********************admin dashboard************************* */
.admin-dashboard-container {
  display: flex;
  height: 100vh;
}

.admin-sidebar {
  width: 250px;
  height: 100%;
  background-color: #313233;
  color: #fff;
  padding: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

.admin-sidebar li a {
  display: block;
  padding: 10px;
  color: #aaa;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-sidebar li.active a {
  background-color: #504d4d;
  color: #fff;
}

.admin-content {
  flex: 1;
  padding: 20px;
  background: #f0f2f5;
}

/* ************************* influencer Table ************************************ */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  font-weight: bold;
  background-color: #f8f9fa;
  border-top-width: 2px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/* ************************* influencer filter tags ************************************ */
.scrolling {
  max-height: 80vh;
  overflow-y: auto;
}

.tag-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 5px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #e2e3e5;
  color: #212529;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag span {
  margin-right: 5px;
}

.tag button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #212529;
  margin-left: 5px;
  font-size: 14px;
}

/* ************************************************************* */
.circular-radius {
  border-radius: 50px !important;
}

.grey-background {
  background-color: #7b809a;
}

.grey {
  color: #344767;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

.xsText {
  font-size: 12px !important;
}

.smallText {
  font-size: 13px !important;
}

.normalText {
  font-size: 15px !important;
}

.normalLgText {
  font-size: 18px !important;
}

.largeBoldText {
  font-size: 20px;
}

.mLargeBoldText {
  font-size: 25px;
}

.mxlBoldText {
  font-size: 28px;
}

.xlBoldText {
  font-size: 30px;
}

.xlLgBoldText {
  font-size: 32px;
}

.xxlBoldText {
  font-size: 35px;
}

.xxxlBoldText {
  font-size: 40px;
}

.xxxlCustomText {
  font-size: 48px;
}

.xxxlExtraBoldText {
  font-size: 56px;
}

.boldText {
  font-weight: bold !important;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semibold {
  font-weight: 600 !important;
}

.extrabold {
  font-weight: 800 !important;
}