body {
  background: #f0f2f5 !important;
}

.mainScreen {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* overflow: auto; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ****************dashboard card********************* */
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  max-width: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  position: relative;
  height: 0;
  padding-top: 60%;
  overflow: hidden;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  text-align: justify;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.setCardWidth {
  min-width: 18rem !important;
}

.fullWidth {
  min-width: 100% !important;
  max-width: 100% !important;
}

.card-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
  background-color: #27ae60;
}


/* ******************************************** */
.fullScreenHome {
  min-height: 100vh !important;
}

.quarterFullScreenHome {
  min-height: 75vh !important;
}

.halfScreenHome {
  min-height: 50vh !important;
}

.halfBlur {
  min-height: 100vh !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.pointer {
  cursor: pointer;
}

.coverImg {
  max-width: 100%;
  max-height: 100%;
}

/* *********************admin dashboard************************* */
.admin-dashboard-container {
  display: flex;
  height: 100vh;
}

.admin-sidebar {
  width: 250px;
  height: 100%;
  background-color: #313233;
  color: #fff;
  padding: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

.admin-sidebar li a {
  display: block;
  padding: 10px;
  color: #aaa;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-sidebar li.active a {
  background-color: #504d4d;
  color: #fff;
}

.admin-content {
  flex: 1;
  padding: 20px;
  background: #f0f2f5;
}

/* ************************************************************* */
.circular-radius {
  border-radius: 50px !important;
}

.grey-background {
  background-color: #7b809a;
}

.grey {
  color: #344767;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

.xsText {
  font-size: 12px !important;
}

.smallText {
  font-size: 13px !important;
}

.normalText {
  font-size: 15px !important;
}

.normalLgText {
  font-size: 18px !important;
}

.largeBoldText {
  font-size: 20px;
}

.mLargeBoldText {
  font-size: 25px;
}

.mxlBoldText {
  font-size: 28px;
}

.xlBoldText {
  font-size: 30px;
}

.xlLgBoldText {
  font-size: 32px;
}

.xxlBoldText {
  font-size: 35px;
}

.xxxlBoldText {
  font-size: 40px;
}

.xxxlCustomText {
  font-size: 48px;
}

.xxxlExtraBoldText {
  font-size: 56px;
}

.boldText {
  font-weight: bold !important;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semibold {
  font-weight: 600 !important;
}

.extrabold {
  font-weight: 800 !important;
}