.mainScreen {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* overflow: auto; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullScreenHome {
  min-height: 100vh !important;
}

.quarterFullScreenHome {
  min-height: 75vh !important;
}

.halfScreenHome {
  min-height: 50vh !important;
}

.halfBlur {
  min-height: 100vh !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.pointer {
  cursor: pointer;
}

.coverImg {
  max-width: 100%;
  max-height: 100%;
}

.circular-radius {
  border-radius: 50px !important;
}

.grey-background {
  background-color: #f0f2f5;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

.xsText {
  font-size: 12px !important;
}

.smallText {
  font-size: 13px !important;
}

.normalText {
  font-size: 15px !important;
}

.normalLgText {
  font-size: 18px !important;
}

.largeBoldText {
  font-size: 20px;
}

.mLargeBoldText {
  font-size: 25px;
}

.mxlBoldText {
  font-size: 28px;
}

.xlBoldText {
  font-size: 30px;
}

.xlLgBoldText {
  font-size: 32px;
}

.xxlBoldText {
  font-size: 35px;
}

.xxxlBoldText {
  font-size: 40px;
}

.xxxlCustomText {
  font-size: 48px;
}

.xxxlExtraBoldText {
  font-size: 56px;
}

.boldText {
  font-weight: bold !important;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semibold {
  font-weight: 600 !important;
}

.extrabold {
  font-weight: 800 !important;
}